/* Write your CSS here */
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #475569;
}
.responsive-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  max-width: 1149px;
}
.heading {
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
}
.checkbox-group {
  display: flex;
  flex-direction: column;
}
.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.label-text {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  margin-left: 12px;
}
